@import "./fonts/AppleSDGothicNeoB.ttf";
@import "./fonts/AppleSDGothicNeoEB.ttf";
@import "./fonts/AppleSDGothicNeoH.ttf";
@import "./fonts/AppleSDGothicNeoL.ttf";
@import "./fonts/AppleSDGothicNeoM.ttf";

@font-face {
  font-family: "AppleSDGothicNeo";
  src: local("AppleSDGothicNeo"), url(./fonts/AppleSDGothicNeoL.ttf);
}

* {
  box-sizing: border-box;
}
img {
}
body {
  background-color: white;
  font-family: "AppleSDGothicNeo";
}
.app {
  display: grid;
  grid-template-rows: 80px 820px repeat(4, 860px);
  color: #6a6a6a;
  .bold {
    font-weight: bold;
  }
  .not-bold {
    font-weight: 200;
  }
}
.blur {
  display: grid;
  grid-template-rows: 80px 820px repeat(4, 860px);
  color: #6a6a6a;
  .bold {
    font-weight: bold;
  }
  .block7 {
    background-color: #1f1f1f;
  }
}
.item {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  padding-top: 75px;
  background: #ccc;
  text-align: center;
  color: #fff;
  font-size: 3em;
}
.navy {
  color: #263959;
}
.block1 {
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  padding-bottom: 250px;
  .main-image {
    width: 540px;
    height: 360px;
    margin-top: 61px;
    margin-bottom: 64px;
  }
  .logo {
    width: 394px;
    height: 300px;
    margin-bottom: 30px;
  }
  .text-explain {
    font-size: 20px;
    font-family: "AppleSDGothicNeo";
    margin: 8px;
  }
  .main-text-div1 {
    margin-bottom: 8px;
  }
  .main-text-div2 {
    margin-bottom: 48px;
  }
  .main-text {
    text-align: center;
    font-size: 32px;
  }
  .main-text-description {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    line-height: 1.61;
    color: #6a6a6a;
    position: relative;
    margin-bottom: 49px;
  }
  .main-under-yellow-bar {
    width: 328px;
    height: 10px;
    background-color: rgba(249, 192, 12, 0.6);
    position: absolute;
    border-radius: 10px;
    z-index: -1;
    top: 38.3px;
  }
  .main-mouse {
    position: absolute;
    width: 32px;
    height: 52px;
    border-radius: 24px;
    border: 2px solid #55967e;
    top: 124px;
  }
  .main-mouse-dot {
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #55967e;
    top: 8px;
    left: 11.05px;
    animation: 1.5s ease-in-out infinite mousemoving;
  }
}
@keyframes mousemoving {
  0% {
    transform: translateX(0px);
    transform: translateY(-4px);
    opacity: 1;
  }
  50% {
    transform: translateY(9px);
    opacity: 1;
  }
  70% {
    transform: translateY(14px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.montserrat-big {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  vertical-align: baseline;
}
.montserrat-medium {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  vertical-align: baseline;
}
.montserrat-medium-big {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 200;
  vertical-align: baseline;
}
.montserrat-small {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  vertical-align: baseline;
}
.header {
  background-color: #f4f7f5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "AppleSDGothicNeo";
  font-size: 16px;
}
.block3 {
  display: flex;
  justify-content: center;
  background-color: #f4f7f5;
}
.block4 {
  display: flex;
  justify-content: center;
}
.block5 {
  display: flex;
  justify-content: center;
  background-color: #f4f7f5;
}
.block6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .logo-text {
    text-align: center;
  }
  .logo {
    margin-bottom: 30px;
  }
  .open-btn {
    all: unset;
    font-size: 20px;
    margin-top: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 384px;
    height: 56px;
    color: white;
    background-color: #30996e;
    border-radius: 34px;
    cursor: pointer;
    font-family: "AppleSDGothicNeo";
    text-decoration: none;
  }
  .short-description {
    font-size: 24px;
  }
}
.blur {
  .block7 {
    .text-div {
      span {
        display: none;
      }
    }
    .form {
      display: none;
    }
    .confirm-btn {
      display: none;
    }
    .service-notice {
      display: none;
    }
  }
}
.block7 {
  height: 860px;
  opacity: 1;
  visibility: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #55967e;
  color: white;
  text-align: center;
  line-height: 1.7;
  position: relative;
  .block7-text-div {
    width: 600px;
    margin-top: 120px;
    margin-bottom: 62px;
    .block7-text {
      font-size: 20px;
    }
  }
  .block7-form {
    display: flex;
    flex-direction: column;
    position: relative;
    ::placeholder {
      color: #8bd1b4;
      font-family: "AppleSDGothicNeo";
      font-size: 16px;
      text-align: start;
    }
    .block7-label {
      font-size: 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-family: "AppleSDGothicNeo";
    }
    .block7-input {
      all: unset;
      width: 384px;
      height: 48px;
      background-color: transparent;
      border: 1px solid white;
      border-radius: 8px;
      margin-top: 16px;
      margin-bottom: 32px;
      font-family: "AppleSDGothicNeo";
      text-align: left;
      padding-left: 20px;
    }
  }
  .block7-confirm-btn {
    all: unset;
    font-size: 20px;
    margin-top: -4px;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 384px;
    height: 56px;
    color: #30996e;
    background-color: white;
    border-radius: 34px;
    cursor: pointer;
  }
  .block7-service-notice {
    font-size: 14px;
    color: #8bd1b4;
  }
  .top-dot {
    font-weight: bold;
  }
}
#info-input {
  button {
    text-decoration: none;
  }
  transition: background-color 1s;
}
.pop-up {
  width: 320px;
  height: 327px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 6px 10px #3333331a;
  border-radius: 12px;
  background-color: white;
  color: #6a6a6a;
  position: fixed;
  top: 30%;
  bottom: 30%;
  .cucumber {
    margin-top: 34px;
  }
  .fighting-btn {
    all: unset;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 256px;
    height: 48px;
    color: white;
    background-color: #30996e;
    border-radius: 34px;
    cursor: pointer;
  }
  .thanks-text {
    margin-top: 32px;
    font-size: 14px;
    color: #1e1e1e;
  }
}
.pickle-sub-title {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  vertical-align: baseline;
  font-weight: 500;
}

.display-none {
  visibility: hidden;
  opacity: 0;
  height: 0px;
  .text-div {
    display: none;
  }
  img {
    display: none;
  }
  div {
    display: none;
  }
}

.block8 {
  height: 100px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f7f5;
  div {
    margin: 25px;
  }
  div:last-child {
    color: #30996e;
  }
}

@media screen and (max-width: 768px) {
  .pickle-image-container1 img {
  }
}

.pickle-image-container1 {
  background-color: #f4f7f5;
  display: flex;
  position: relative;
  right: 239px;
  z-index: 0;
  line-height: 1.6;
  width: auto;
  margin-bottom: 300px;
  height: 100%;
  .pickle-image-container1-pic-back {
    position: absolute;
    top: 120px;
    right: -150px;
    width: 396px;
    height: 660px;
  }
  .pickle-image-container1-pic-front1 {
    position: absolute;
    top: 165px;
    right: -230px;
  }
  .pickle-image-container1-pic-front2 {
    position: absolute;
    top: 270px;
    right: -167px;
  }
  .pickle-image-container1-text-div {
    width: 500px;
    position: absolute;
    left: 272px;
    top: 445px;
    .pickle-image-container1-pickle-sub-title {
      position: absolute;
      left: 0px;
      bottom: -33px;
      font-family: "Montserrat", sans-serif;
      font-size: 32px;
      vertical-align: baseline;
      font-weight: 500;
    }
    .pickle-image-container1-pickle-big-text {
      position: absolute;
      left: 0px;
      bottom: -100px;
      font-size: 32px;
      color: #263959;
    }
    .pickle-image-container1-pickle1-subtext {
      position: absolute;
      left: 0px;
      bottom: -170px;
    }
    .pickle-image-container1-under-green-bar1 {
      width: 143px;
      height: 16px;
      background-color: #8bd1b4;
      position: absolute;
      border-radius: 10px;
      z-index: -1;
      top: 60px;
      left: -2px;
    }
  }
}
.pickle-image-container2 {
  background-color: #f4f7f5;
  display: flex;
  justify-content: center;
  position: relative;
  left: 270px;
  z-index: 0;
  line-height: 1.6;
  .pickle-image-container2-pic-back {
    position: absolute;
    top: 75px;
  }
  .pickle-image-container2-pic-front1 {
    position: absolute;
    top: 120px;
  }
  .pickle-image-container2-text-div {
    width: 500px;
    position: absolute;
    right: 156px;
    top: 430px;
    .pickle-image-container2-pickle-sub-title {
      position: absolute;
      left: 0px;
      bottom: 0px;
      font-family: "Montserrat", sans-serif;
      font-size: 32px;
      vertical-align: baseline;
      font-weight: 500;
    }
    .pickle-image-container2-pickle-big-text {
      position: absolute;
      left: 0px;
      bottom: -70px;
      font-size: 32px;
      color: #263959;
    }
    .pickle-image-container2-pickle1-subtext {
      position: absolute;
      left: 0px;
      bottom: -144px;
    }
  }
  .pickle-image-container2-under-green-bar2 {
    width: 151px;
    height: 16px;
    background-color: #8bd1b4;
    position: absolute;
    border-radius: 10px;
    z-index: -1;
    top: 28px;
    left: -2px;
  }
}
.pickle-image-container3 {
  background-color: #f4f7f5;
  display: flex;
  justify-content: center;
  position: relative;
  right: 237px;
  z-index: 0;
  line-height: 1.6;
  .pickle-image-container3-pic-back {
    position: absolute;
    top: 70px;
    right: -150px;
  }
  .pickle-image-container3-pic-front {
    position: absolute;
    bottom: 175px;
    right: -167px;
  }
  .pickle-image-container3-text-div {
    width: 500px;
    position: absolute;
    left: 271px;
    top: 380px;
    .pickle-image-container3-pickle-sub-title {
      position: absolute;
      left: 0px;
      bottom: 0px;
      font-family: "Montserrat", sans-serif;
      font-size: 32px;
      vertical-align: baseline;
      font-weight: 500;
    }
    .pickle-image-container3-pickle-big-text {
      position: absolute;
      left: 0px;
      bottom: -70px;
      font-size: 32px;
      color: #263959;
    }
    .pickle-image-container3-pickle1-subtext {
      position: absolute;
      left: 0px;
      bottom: -144px;
    }
  }
  .pickle-image-container3-under-green-bar {
    width: 154px;
    height: 16px;
    background-color: rgba(88, 202, 160, 0.8);
    position: absolute;
    border-radius: 10px;
    z-index: -1;
    top: 27px;
    left: -2px;
  }
}
/* .block2 {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* .pic-container {
  background-color: #f4f7f5;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 0;
  .pic-pig {
    position: absolute;
    top: 125px;
  }
  .pic-phone {
    position: absolute;
  }
  .pic-book {
    position: absolute;
    top: 204px;
    z-index: 0;
  }
  .pic-txt {
    width: 200px;
    position: absolute;
    top: 50px;
    right: 200px;
    margin-top: 100px;
    text-align: end;
    z-index: -1;
    ::after {
      content: "";
      width: 370px;
      position: absolute;
      top: 10px;
      left: calc(100% + 10px);
      height: 1px;
      background-color: rgba(221, 221, 221, 0.8);
    }
  }
  .pic-txt2 {
    width: 200px;
    position: absolute;
    top: 50px;
    margin-top: 100px;
    left: 220px;
    text-align: start;
  }
} */
